Source: elementary-add-icon-theme
Section: graphics
Priority: optional
Maintainer: Alexey Varfolomeev <varlesh@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5
Homepage: https://github.com/varlesh/elementary-add

Package: elementary-add-icon-theme
Architecture: all
Depends: elementary-icon-theme, ${misc:Depends}
Description: Additional icons for elementary OS Freya. It contains icons for several third party applications that resemble elementary OS's style.
